<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.5"/>
		<httpRuntime targetFramework="4.5"/>
	</system.web>
	
	<appSettings>
		<!-- 商户号码在发给您的邮件中，必须修改为自己的-->
		<add key="SFTPayConfig" value="151299|ZJWX0472-5911111"/>
		<add key="keyMer" value="ZJWX0472-5911111"/>
		<add key="PayType" value="PT001"/>
		<add key="payTypeSFT" value="PT001,PT002,PT005,PT008"/>
		<!--
     请根据您目前的开发环境同时请参考“盛付通即时到账接口文档V1.5.pdf”文档设置
     测试地址: http://pre.netpay.sdo.com/paygate/default.aspx
     正式地址: http://netpay.sdo.com/paygate/default.aspx
    -->
		<add key="paymentGateWayURL" value="http://api.shengpay.com/html5-gateway/pay.htm?page=mobile"/>
		<!-- >>>支付渠道在发给您的邮件中有-->		
		<add key="payChannel" value="03,04,07,14,18"/>
		
		<!-- >>>默认选中支付渠道，用户可以在开通的渠道中任意选择一个，如果不选择默认就是渠道的第一个值-->
		<add key="defaultChannel" value="04"/>
		
		<!-- >>>通知发货页面，同时必须保证这个地址外网能够访问-->
		<add key="notifyURL" value="http://html.5i5a.com/youmianwang_app/ticket/notify.html"/>
		
		<!-- >>>付款完成后的跳转页面-->
		<add key="postBackURL" value="http://html.5i5a.com/youmianwang_app/ticket/paysuccess.html"/>
		
		<!-- >>>这个地址是商户不希望提交支付时，返回的页面，是可选选-->
		<add key="backURL" value=""/>
		
		<!-- >>>发货通知方式，http,https,tcp等,默认是http（如果不填写也为http）-->
		<add key="notifyUrlType" value="http"/>
		
		<!-- >>>即时到账情况下银行编码是可选的，表示在网银情况下默认选择的银行-->
		<add key="bankCode" value="SDTBNK"/>
	</appSettings>
	<!--<system.webServer>
    <modules>
      <remove name="WebDAVModule" />
    </modules>
  </system.webServer>-->

	<connectionStrings>
		<add name="youmianwang" connectionString="Database=zuitu_db;Data Source=58.18.172.125;port=3306;User Id=csuser;Password=123;charset=utf8;pooling=true"/>
	</connectionStrings>

	<system.web>
		<customErrors mode="Off"></customErrors>
	</system.web>
	
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="X3.Service" publicKeyToken="5AC1EB479542C952" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.7" newVersion="3.0.1.7"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
